version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:8080"
    depends_on:
      - db
    environment:
      - ConnectionStrings__SqlCon=server=db;port=3306;database=WahootDb;user=root;password=150904;
      - ASPNETCORE_ENVIRONMENT=Production
    restart: always

  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: WahootDb
      MYSQL_ROOT_PASSWORD: 150904
    volumes:
      - mysqldata:/var/lib/mysql
    restart: always

volumes:
  mysqldata:
