version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "8080"
    depends_on:
      - db
    environment:
      - ConnectionStrings__SqlCon=server=db;port=3306;database=WahootDb;user=root;password=150904;
      - ASPNETCORE_ENVIRONMENT=Production

  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: WahootDb
      MYSQL_ROOT_PASSWORD: 150904
    volumes:
      - mysqldata:/var/lib/mysql

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api

volumes:
  mysqldata:
